<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>LabSemana04</display-name>
  <welcome-file-list>
   <welcome-file>docente/indexDocentes.jsp</welcome-file>
   <welcome-file>docente/actualizarDocente.jsp</welcome-file>
   <welcome-file>docente/registrarDocente.jsp</welcome-file>
  <welcome-file>curso/indexCurso.jsp</welcome-file>
    <welcome-file>curso/actualizarCurso.jsp</welcome-file>
    <welcome-file>curso/registrarCurso.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CursoServlet</display-name>
    <servlet-name>CursoServlet</servlet-name>
    <servlet-class>servlets.CursoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CursoServlet</servlet-name>
    <url-pattern>/CursoServlet</url-pattern>
  </servlet-mapping>
</web-app>